{% extends "layout_static.html" %}

{% block static_head_title %}What is Together{% endblock %}

{% block static_description %} 

Together è un cross-inspirational place. Un ambiente di co-working e co-living che offre stimoli culturali agli individui che lo vivono. Together è uno spazio abitativo in cui la community locale incontra la community globale dando vita a un network internazionale di individui che operano nei campi dell’arte, innovazione, internet e comunicazione la cui collaborazione genera progetti di impatto sociale ed economico dei quali, prima il paese e successivamente il mondo intero, possono beneficiare.

Together è un’associazione culturale no-profit con sede a Roma. All’interno degli immobili in cui è locata, l’associazione Together offre ai propri soci alloggi per brevi e lunghe permanenze. Mette a disposizione spazi di incontro e collaborazione e organizza eventi di formazione e promozione culturale che possono essere proposti e seguiti dai soci stessi oppure da individui esterni all’associazione. 

{% endblock %}

{% block static_head_bg %}/static/imgs/trastevere-basilica.png{% endblock %}