/* Parallax */

#home { 
    background: url('/static/imgs/photos/BG-landing-page.png') 50% 0 repeat fixed; 
    min-height: 800px; 
    height: 800px; 
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
}

#home article { 
    height: 458px; 
    position: absolute; 
    text-align: center; 
    width: 100%; 
}
 
#slide-live { 
    background-image: url('/static/imgs/photos/home-slide-live.png') 50% 0 no-repeat;
    min-height: 800px;  
    height: 800px; 
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#slide-live article { 
    height: 458px; 
    position: absolute; 
    text-align: center; 
}

#slide-learn { 
    background: url('/static/imgs/photos/home-slide-learn.png') 50% 800px fixed;
    min-height: 800px;  
    height: 800px; 
    margin: 0 auto; 
    width: 100%; 
    position: relative; 

}

#slide-learn article { 
    height: 458px; 
    position: absolute; 
    text-align: center; 
}

#slide-make { 
    background: url('/static/imgs/photos/home-slide-make.png') 50% 0 no-repeat;
    min-height: 800px;  
    height: 800px; 
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#slide-make article { 
    height: 458px; 
    position: absolute; 
    text-align: center;
}



/* Homepage */

#home-page-logo {
    margin-top:150px;
}

#payoff {
    color: #FFF;
}

#payoffred {
    color:#bc2d37;
}
#buttoncomehome a{
color: white;

}
#buttoncomehome {
    font-size: 24px;
    background-color:#bc2d37;
    color:#FFF;
    width:200px;
    height: 50px;
    padding:5px;
    margin:0 auto;
}

#buttoncomehome:hover {
    background-color:#666;
    color:#FFF;
}

.footerbar{
    color: #666;
}

.footerbar a{
    color: #666;
    font-size: 12px
}

.footerbar a:hover{
    color: #333;
}

/* Homepage Slides */

.homepage-slide {
    min-height: 800px;
    background-repeat: no-repeat; 
    background-position: top;
    background-size: cover;
    background-color: black;
    text-shadow: 0px 0px 5px black;
}

.homepage-slide p{


}

#homepage-main {
    
}

#homepage-live {
   background-image: url('/static/imgs/photos/home-slide-live.png'); 
}


#homepage-learn {
    background-image: url('/static/imgs/photos/home-slide-learn.png');
}


#homepage-make {
    background-image: url('/static/imgs/photos/home-slide-make.png');
}



/* Static Page */

.static-container {
    max-width: 600px;
    font-family: 'Actor', sans-serif;
    font-size: 20px;
}

.static-head {
    width: 100%;
    min-height: 300px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('/static/imgs/photos/BG-landing-page.png');
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
    background-color: black;
    color: #FFF;
    font-size: 25px;
    text-shadow: 0px 0px 5px black;

}

.static-head h1 {
    font-size: 40px;
}

.static-description {
    margin-top: 20px;
    margin-bottom: 20px;
}
