body {
    padding-bottom: 50px;
    background-image: url('/static/imgs/bg-body.png');
    background-repeat: repeat;
    font-family: 'Actor', sans-serif;
    font-size: 20px;
}

.signin-btn {
    margin-right: 3px;
}


.navbar-brand {
    max-height: 50px;
}

.img-responsive-center {
    margin: 0 auto;
}

.img-super-responsive {
    height: auto;
    max-width: 100%;
}