body {
    overflow-x: hidden;
    overflow-y: scroll;
}
/* Homepage */

#bg-homepage {
    background-image: url('/static/imgs/BG-landing-page.png');
    background-repeat: no-repeat; 
    background-position: top;
    background-size: cover;
    background-color: black;
}

#home-page-logo {
    margin-top:150px;
}

#payoff {
	color: #FFF;
}

#payoffred {
	color:#cc3333;
}

#buttoncomehome {
	padding-top:10px;
	padding-bottom:10px;
	padding-left: 20px;
	padding-right: 20px;
	background-color:#cc3333;
	color:#FFF;
}

/* Activities */

.activity-box {
	min-width: 150px;
	min-height: 150px;
	background-image: url('/static/imgs/BG-landing-page.png');
    background-repeat: no-repeat; 
    background-position: top;
    background-size: cover;
    background-color: black;
    position: relative;
    float: left;
    
    border: solid 1px white;
    border-top: 0px;
    padding: 0px;
}

.activity-box-content {
    bottom: 0;
    left: 0;
    top: 35%;
    right: 0;
    margin: auto;
    position: absolute;
	text-align: center;
	color: #FFF;
	font-size: 30px;
    text-shadow: 0px 0px 5px black;
    overflow: hidden;
}

.activity-category-corner {
    float: right;
    width: 0;
    height: 0;
}

.activity-category-corner-red {
	border-top: 50px solid red;
	border-left: 50px solid transparent;
}

.activity-category-corner-green {
    border-top: 50px solid green;
    border-left: 50px solid transparent;
}

.activity-category-corner-blue {
    border-top: 50px solid blue;
    border-left: 50px solid transparent;
}


.activity-box-button {
    display: none;
    position: absolute; 
    bottom: 0;
	height: 50px;
	width: 100%;
    background-color: #d9534f;
    text-align: center;
    color: white;
    font-size: 25px;
    padding: 7px;
}
.activity-box-button:hover {
	background-color: #666;
}

.activity-head {
	width: 100%;
	min-height: 400px;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 20px;
	background-image: url('/static/imgs/BG-landing-page.png');
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
    background-color: black;
    color: #FFF;
	font-size: 30px;
    text-shadow: 0px 0px 5px black;
}

.activity-user-pic {


}

.activity-description {
	margin-top: 20px;
	margin-bottom: 20px;
	
}
