body {
    background-image: url('/static/imgs/BG-landing-page.png');
    background-repeat: no-repeat; 
    background-position: top;
    background-size: cover;
    background-color: black;
}

#home-page-logo {
    margin-top:150px;
}

#payoff {
	color: #FFF;
}

#payoffred {
	color:#cc3333;
}