{% extends "layout_accommodations.html" %}

{% block container %}
<div id="mainContainer" class="row">
    {% if accommodations %}
        {% for accommodation in accommodations %}

        <div class="accommodation-box col-xs-12 col-sm-4 col-md-4 col-lg-4 " id="accommodation-box-{{ accommodation.pk }}">
            
       		<div class="accommodation-box-content" id="accommodation-box-content-{{ accommodation.pk }}">
       			{{ accommodation.name }}
       		</div>

            <a href="{{ accommodation.get_absolute_url }}">
                <div id="accommodation-button-{{ accommodation.pk }}" class="accommodation-box-button">
                    Stay with us!
                </div>
            </a>

        </div>
        {% endfor %}
    {% else %}
    <p class="lead text-center" id="noContentMessage">
        There are no accommodations yet!
    </div>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
    {% for accommodation in accommodations %}
    <script type="text/javascript">
        $(function(){
            var currenct_accommodation_box = $("#accommodation-box-{{ accommodation.pk }}");
            {% if accommodation.main_photo %} // Using the right background:
            currenct_accommodation_box.css("background-image","url('{{ accommodation.main_photo.url }}')");
            {% endif %}
            // Enabling join button fade effect
            currenct_accommodation_box.hover(function(){
                $("#accommodation-button-{{ accommodation.pk }}").fadeIn(250);
            },function(){
                $("#accommodation-button-{{ accommodation.pk }}").fadeOut(250);
            });
        });

        $("#accommodation-box-{{ accommodation.pk }}").click(function() {
            location.href = "{{ accommodation.get_absolute_url }}";
        });
    </script>
    {% endfor %}

    <script type="text/javascript">
        // Resizing automatically every thumbnail in order to
        // have 2 accommodation per column and a horizontal scrolling
        function resizeThumbnails(){
            $(".accommodation-box").height($(".accommodation-box").width());   
        }
        $(function() {
            resizeThumbnails();
        })
        $(window).resize(function() { 
            resizeThumbnails();
        });            
    </script>
{% endblock %}