{% extends "layout_accommodations.html" %}
 

{% block navbar_buttons %}
{% if booking.owner == request.user %}
&nbsp;<a href="{{ booking.get_absolute_url }}/delete" class="btn btn-error navbar-btn pull-right">
    <span class="glyphicon glyphicon-pencil"></span>&nbsp;
    Delete
</a>
{% endif %}
{% endblock %}

{% block container %}
<div id="mainContainer" class="container">
    <h1>Booking {{ booking.pk }}</h1>
    Checkin Date: {{ booking.checkin_date }}<br/>
    CheckOut Date: {{ booking.checkout_date }}<br/>
    <br/>
    User that requested the place: <a href="/users/{{booking.tenant.username}}">{{ booking.tenant }}</a><br/>
    Status: {% for couple in BOOKING_STATUSES %}
                {% if couple|first == booking.status %}
                    {{ couple|last }}
                {% endif %}
            {% endfor %}<br/>
    Price {{ booking.price }}<br/>
    <br/>
    Room Name And number: {{ booking.accommodation.name }} {{ booking.accommodation.pk }}<br/>
    Room URL: <a href="{{ booking.accommodation.get_absolute_url }}">{{ booking.accommodation.get_absolute_url }}</a><br/>
</div>
{% endblock %}