{% extends "layout_static.html" %}

{% block static_head_title %}Guiding Principles{% endblock %}

{% block static_description %} 

<h2>Collective spirit</h2>
We value creative collaboration and communal effort. We put resources and skills together. We act as one. We work on sustainable projects aimed to benefit the local communities and the rest of the planet. 

<h2>Profound admittance</h2>
We welcome and respect everybody. We encourage self expression and refuse any form of discrimination. 

<h2>Cross contamination</h2>
We believe in the power originated from diversity and curiosity. We encourage individuals operating in the most different fields to share their knowledge with the aim of inspiring others and fueling the ultimate collective brain. 

<h2>Knowledge is power</h2>
We value sustainable education. We believe in no papers and marks. We believe in people who do.

<h2>Participation</h2>
Nobody is a spectator. Together is an intentional community of people that share visions, responsibilities and resources. We believe that change only happens through real participation. Achievements occur through the work of passionate people. Everyone is invited to work. Everyone is invited to play. 

<h2>No ego. No logo</h2>
Together is a non-political, non-religious organization. In order to preserve our collective participatory spirit, our community aims to create a social environment that is unmediated by commercial advertising and individuals’ personal interests. We resist the substitution of consumption for participatory experience.

<h2>Contribution</h2>
Together we brainstorm and we come up with ideas. Contribution is the way to make ideas happen. Members endeavor to contribute however possible, by donating, in accordance with our “no ego, no logo” principle, resources, skills and expertise, by participating in problem solving activities and rising awareness around the community’s efforts.

<h2>Civic responsibility</h2>
We operate respecting people and our surroundings. The members of our community who organize events and happenings of any kind assume responsibility for their actions and endeavor to communicate appropriate behaviour to participants. All events must be conducted in accordance with local laws.

<h2>Keeping it clean</h2>
We respect the environment and the people who share it with us. We commit to leaving no signs of our activities wherever we gather. We clean up after ourselves and try to leave places in a better state than we find them.


{% endblock %}

{% block static_head_bg %}/static/imgs/photos/lampione-trastevere.png{% endblock %}