{% extends "layout_static.html" %}

{% block static_head_title %}What is Together{% endblock %}

{% block static_description %} 

Together is a <span id="payoffred">cross-inspirational place</span>. </p> An intentional community house that values knowledge and collaboration. </p>
Together is a culture centered <span id="payoffred">living space</span> in which the local community meets the rest of the globe giving birth to an international network of professionals and creative spirits that operate in the fields of <span id="payoffred">arts, innovation, media and communications</span>.</p>

The house combines <span id="payoffred">long-term</span> and <span id="payoffred">short-term residents</span> that, along with the local passionate community, work on communal projects and host classes, workshops and events aimed to spreading knowledge and education. <br><br>

Together is a no-profit organization based in <span id="payoffred">Rome</span>.

{% endblock %}

{% block static_head_bg %}/static/imgs/photos/trastevere-basilica.png{% endblock %}