{% extends "layout_static.html" %}

{% block static_head_title %}What is Together{% endblock %}

{% block static_description %} 

Together is a cross-inspirational place. A co-working and co-living environment that values knowledge and collaboration. 
Together is a culture centered living space in which the local community meets the uno spazio abitativo in cui la community locale incontra la community globale dando vita a un network internazionale di individui che operano nei campi dell’arte, innovazione, internet e comunicazione la cui collaborazione genera progetti di impatto sociale ed economico dei quali, prima il paese e successivamente il mondo intero, possono beneficiare.

Together è un’associazione culturale no-profit con sede a Roma. All’interno degli immobili in cui è locata, l’associazione Together offre ai propri soci alloggi per brevi e lunghe permanenze. Mette a disposizione spazi di incontro e collaborazione e organizza eventi di formazione e promozione culturale che possono essere proposti e seguiti dai soci stessi oppure da individui esterni all’associazione. 

{% endblock %}

{% block static_head_bg %}/static/imgs/photos/trastevere-basilica.png{% endblock %}