{% extends "layout.html" %}

{% block head %}
    <link href="/static/css/mainpages.css" rel="stylesheet" media="screen">
{% endblock %}

{% block container %}
<div id="mainContainer"></div>
<div class="homepage-slide" id="homepage-main">
    <div class="container">
        <div class="text-center" id="home-page-logo">
            <img class="img-super-responsive img-responsive-center" src="/static/imgs/logone-Together.png">
            <h3 id="payoff">the cross-inspirational place that feels like <span id="payoffred">home</span></p></h3>
            <br>
            <br>
            <a href="/accounts/register/"><div id="buttoncomehome">come home</div></a>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="homepage-slide" id="homepage-live">
    <div class="container">
        <div class="text-right" id="home-page-logo">
            <img class="img-super-responsive" src="/static/imgs/live-together.png">
            <h2 id="payoff">
                Most meaningful conversations happen <br>
                when people are <span id="payoffred">relaxed</span>
            </h2>
        </div>
        <br>
        <br>
        <div class="text-left">
            <p class="lead" id="payoff">
                The house combines long term and short term international residents<br>
                who share inspiring living experiences
            </p>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="homepage-slide" id="homepage-learn">
    <div class="container">
        <div class="text-left" id="home-page-logo">
            <img class="img-super-responsive" src="/static/imgs/learn-together.png">
            <h2 id="payoff">
                <span id="payoffred">Knowledge</span> is love and light and vision
            </h2>
        </div>
        <br>
        <br>
        <div class="text-right">
            <p class="lead" id="payoff">
                The house hosts classes, workshops and events<br>
                offered by the community and the residents
            </p>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="homepage-slide" id="homepage-make">
    <div class="container">
        <div class="text-right" id="home-page-logo">
            <img class="img-super-responsive" src="/static/imgs/make-together.png">
            <h2 id="payoff">What do you care about? What can you do to affect the <span id="payoffred">world</span>?</p></h2>
        </div>
        <br>
        <br>
        <div class="text-left">
            <p class="lead" id="payoff">
                The house encourages collaboration among members with ongoing sustainable projects aimed to benefit the local communities and the rest of the planet
            </p>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        function change_slides_heigth() {
            $( ".homepage-slide" ).each(function( inde ) {
                var min_h = $( this ).children(".container").height();
                if( ( $(window).height()-10) <= min_h ){
                    $( this ).height(min_h);
                }else{
                    $( this ).height( $(window).height()-10 );
                }
            });
            
        }
        $( window ).resize(function() { change_slides_heigth(); });
        $(function() {
            change_slides_heigth()
        })
    </script>
{% endblock %}
