{% extends "layout.html" %}

{% block head %}
    <link href="/static/css/mainpages.css" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center" id="home-page-logo">
            <img src="/static/imgs/logone-Together.png">
            <h3 id="payoff">the cross-inspirational place that feels like <span id="payoffred">home</span></p></h3>
            <br>
            <br>
            <a href="/accounts/register/"><div id="buttoncomehome">come home</div></a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-4 text-right" id="home-page-logo">
            <img src="/static/imgs/live-together.png">
            <h3 id="payoff">Most meaningful conversations happen when people are <span id="payoffred">relaxed</span></p></h3>
            <br>
            <br>
            
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 text-left" id="home-page-logo">
            <img src="/static/imgs/learn-together.png">
            <h3 id="payoff"><span id="payoffred">Knowledge</span> is love and light and vision</h3>
            <br>
            <br>
            
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-4 text-right" id="home-page-logo">
            <img src="/static/imgs/make-together.png">
            <h3 id="payoff">What do you care about? What can you do to affect the <span id="payoffred">world</span>?</p></h3>
            <br>
            <br>
            
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(function(){
            $("body").attr("id", "bg-homepage");
        });
    </script>
{% endblock %}