{% extends "layout_accommodations.html" %}
{% load avatar_tags %}

{% block navbar_buttons %}
{% if accommodation.owner == request.user %}
&nbsp;<a href="{{ accommodation.get_absolute_url }}/edit" class="btn btn-success navbar-btn pull-right">
    <span class="glyphicon glyphicon-pencil"></span>&nbsp;
    Edit
</a>
{% endif %}
{% endblock %}

{% block container %}

<div id="mainContainer" class="accommodation-head">
	<h1>{{ accommodation.name }}</h1>
</div>
<div class="row accommodation-photos">
    {% for photo in photos %}
    <a href="{{ photo.photo.url }}" target="_new">
        <div class="col-md-3 accommodation-thumb" id="accommodation-thumb-{{ photo.pk }}"></div>
    </a>
    <style type="text/css">
        #accommodation-thumb-{{ photo.pk }} {
            background-image: url('{{ photo.photo.url }}');
        }
    </style>
    {% endfor %}
</div>

<div class="accommodation-container container">
	<div class="accommodation-description">
        {{ accommodation.description|linebreaks }}
    </div>
	<div class="row">
        <div class="col-md-6">
            <div class="row panel panel-default">
                <div class="col-md-6 text-left">
                    <h4>Price:</h4>
                </div>
                <div class="col-md-6 text-right">
                    <h4>{% if accommodation.price == 0 %}
                        Free
                    {% else %}
                        {{ accommodation.price }} &euro;
                    {% endif %}</h4>
                </div>
            </div>
        </div>
        <div class="col-md-6">
                <a href="javascript:void(0);" onclick="deleteaccommodation();" class="btn btn-danger btn-lg btn-block"><span class="glyphicon"></span>&nbsp; Book</a>
        </div>
	</div>

</div>    
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(function(){
            $(".accommodation-user-pic-div img").addClass("img-circle");
            $(".accommodation-user-pic-div img").addClass("accommodation-user-pic-img");
            {% if accommodation.main_photo %}
            $(".accommodation-head").css("background-image","url('{{ accommodation.main_photo.url }}')");
            {% endif %}
        });
    </script>
    
{% endblock %}