/* Activities */

.activity-box {
    min-width: 150px;
    min-height: 150px;
    background-image: url('/static/imgs/photos/BG-landing-page.png');
    background-repeat: no-repeat; 
    background-position: top;
    background-size: cover;
    background-color: black;
    position: relative;
    float: left;
    
    border: solid 1px white;
    border-top: 0px;
    padding: 0px;

    cursor:pointer;
    cursor:hand;    
}

.activity-box-content {
    bottom: 0;
    left: 0;
    top: 35%;
    right: 0;
    margin: auto;
    position: absolute;
    text-align: center;
    color: #FFF;
    font-size: 30px;
    text-shadow: 0px 0px 5px black;
    overflow: hidden;

    /* */
    display: none; 
    /* */
}

.activity-box-date {
    font-size: 14px;
}

.activity-category-corner {
    float: right;
    width: 0;
    height: 0;
}

.activity-category-corner-tourism {
    border-top: 50px solid #bc2d37;
    border-left: 50px solid transparent;
}

.activity-category-corner-class {
    border-top: 50px solid #295538;
    border-left: 50px solid transparent;
}

.activity-category-corner-event {
    border-top: 50px solid #666;
    border-left: 50px solid transparent;
}

.activity-box-button {
    display: none;
    position: absolute; 
    bottom: 0;
    height: 65px;
    width: 100%;
    background-color: #bc2d37;
    text-align: center;
    color: white;
    font-size: 25px;
    padding: 7px;
}
.activity-box-button:hover {
    background-color: #666;
}

#noContentMessage {
    margin-top: 100px;
}

/* Single Activity */

.activity-container {
    max-width: 970px;
    font-family: 'Actor', sans-serif;
    font-size: 20px;
}

.activity-sidebar {
    font-size: 16px;
    
}

.activity-head {
    width: 100%;
    min-height: 400px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('/static/imgs/photos/BG-landing-page.png');
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
    background-color: black;
    color: #FFF;
    font-family: 'Actor', sans-serif;
    font-size: 25px;
    text-shadow: 0px 0px 5px black;

}

.activity-head h1 {
    font-size: 40px;
}

.activity-user-pic-div {
    padding-top: 50px;
}

.activity-user-pic-img {
    border: solid 5px white;
}

.activity-description {
    margin-top: 20px;
    margin-bottom: 20px;
}

.comment-body {
    font-size: 16px;
}

.comment-avatar {
    margin: 5px;
    float:  left;
}