/* Single Profile Page */

.profile-header-content h1 small {
	color: #bc2d37;
	font-size: 14px;
}

.profile-user-pic-div {
    padding-top: 50px;
}

.profile-user-pic-img {
    border: solid 5px white;
}

.profile-user-pic-change-picture {
    z-index: 1000;
}

.profile-header-content {
    padding-top: 20px;
}

.profile-header-buttons {
    padding-top: 70px;
}

.profile-header-buttons img {
    margin-right: 7.5px;
    margin-left: 7.5px;
}

.profile-header {
    margin-bottom: 20px;
}

.list-group-item {
	color: #bc2d37;
}

.list-group-item h4 {
	color: #333;
}
