/* Community Page */

.profile-box {
    min-width: 150px;
    min-height: 150px;
    background-image: url('/static/imgs/photos/BG-landing-page.png');
    background-repeat: no-repeat; 
    background-position: top;
    background-size: cover;
    background-color: black;
    position: relative;
    float: left;
    
    border: solid 1px white;
    border-top: 0px;
    padding: 0px;

    cursor:pointer;
    cursor:hand;    
}

.profile-box-content {
    bottom: 0;
    left: 0;
    top: 35%;
    right: 0;
    margin: auto;
    position: absolute;
    text-align: center;
    color: #FFF;
    font-size: 30px;
    text-shadow: 0px 0px 5px black;
    overflow: hidden;
}

.profile-box-date {
    font-size: 14px;
}

.profile-category-corner {
    float: right;
    width: 0;
    height: 0;
}

.profile-category-corner-tourism {
    border-top: 50px solid #bc2d37;
    border-left: 50px solid transparent;
}

.profile-category-corner-class {
    border-top: 50px solid #295538;
    border-left: 50px solid transparent;
}

.profile-category-corner-event {
    border-top: 50px solid #666;
    border-left: 50px solid transparent;
}

.profile-box-button {
    display: none;
    position: absolute; 
    bottom: 0;
    height: 65px;
    width: 100%;
    background-color: #bc2d37;
    text-align: center;
    color: white;
    font-size: 25px;
    padding: 7px;
}
.profile-box-button:hover {
    background-color: #666;
}


/* Single Profile Page */

.profile-header-content h1 small {
	color: #bc2d37;
	font-size: 14px;
}

.profile-user-pic-div {
    padding-top: 50px;
}

.profile-user-pic-img {
    border: solid 5px white;
}

.profile-user-pic-change-picture {
    z-index: 1000;
}

.profile-header-content {
    padding-top: 20px;
}

.profile-header-buttons {
    padding-top: 70px;
}

.profile-header-buttons img {
    margin-right: 7.5px;
    margin-left: 7.5px;
}

.profile-header {
    margin-bottom: 20px;
}

.list-group-item {
	color: #bc2d37;
}

.list-group-item h4 {
	color: #333;
}
