{% extends "layout_profiles.html" %}
{% load gravatar %}

{% block container %}
<div id="mainContainer" class="row">
    {% for profile in profiles %}
    <div class="profile-box col-xs-12 col-sm-4 col-md-3 col-lg-3 " id="profile-box-{{ profile.pk }}">
   		<a href="/users/{{ profile.user.username }}/">
            <div class="profile-box-content" style="display:none;" id="profile-box-content-{{ profile.pk }}">
                <div style="display:none;"><img src="{% if profile.avatar_url %}{{ profile.avatar_url }}{% else %}{% gravatar_url profile.owner.email 300 %}{% endif %}" height="500" width="500"></div>
        		{{ profile.first_name }}
       		</div>
        </a>             
    </div>
    {% endfor %}
</div>
{% endblock %}


{% block scripts %}
    <script type="text/javascript">
        // Resizing automatically every thumbnail in order to
        // have 2 profile per column and a horizontal scrolling
        function resizeThumbnails(){
            $(".profile-box").height($(".profile-box").width());   
        }
        $(function() {
            resizeThumbnails();
        })
        $(window).resize(function() { 
            resizeThumbnails();
        });            
    </script>
    {% for profile in profiles %}
        <script type="text/javascript">
            $(function(){
                var background_url = $("#profile-box-content-{{ profile.pk }}")
                                        .children("div").children("img").attr("src");
                $("#profile-box-{{ profile.pk }}").css('background-image', 'url(' + background_url + ')');
                $("#profile-box-{{ profile.pk }}").hover(function(){
                    $("#profile-box-content-{{ profile.pk }}").fadeIn(250);
                },function(){
                    $("#profile-box-content-{{ profile.pk }}").fadeOut(250);
                });
            });
        </script>
    {% endfor %}
{% endblock %}