{% extends "layout_profiles.html" %}

{% block container %}
<div id="mainContainer" class="row">
	<div style="background-color: #333; height: auto; text-align: center;">
		<input style="margin: 10px; border: 0px; border-radius: 3px; padding: 5px; min-width: 30%; height: 30px; font: 14px;" id="search" placeholder="search members by name...">
	</div>
    {% for profile in profiles %}
    <div class="profile-box col-xs-6 col-sm-3 col-md-2 col-lg-2 " id="profile-box-{{ profile.pk }}">
    <a href="/users/{{ profile.user.username }}/">
            <div class="profile-box-content" style="display:none;" id="profile-box-content-{{ profile.pk }}">
                <div style="display:none;"><img src="{{ profile.get_the_avatar_url }}" height="500" width="500"></div>
         {{ profile.first_name }}
        </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}


{% block scripts %}
    <script type="text/javascript">
        // Resizing automatically every thumbnail in order to
        // have 2 profile per column and a horizontal scrolling
        function resizeThumbnails(){
            $(".profile-box").height($(".profile-box").width());
        }
        $(function() {
            resizeThumbnails();
            $(".profile-box").lazyload();
        })
        $(window).resize(function() {
            resizeThumbnails();
        });
		
		function search_by_name(query) {
		$( ".profile-box" ).each( function( index ) {
			if ($(this).text().trim().toLowerCase().indexOf(query.toLowerCase()) == -1) {
				$(this).hide(); } 
			else {
				$(this).show();}});
		}
		$('#search').keyup(function() {
            search_by_name($('#search').val());
        });
    </script>
    {% for profile in profiles %}
        <script type="text/javascript">
            $(function(){
                var background_url = $("#profile-box-content-{{ profile.pk }}")
                                        .children("div").children("img").attr("src");
                $("#profile-box-{{ profile.pk }}").css('background-image', 'url(' + background_url + ')');
                $("#profile-box-{{ profile.pk }}").hover(function(){
                    $("#profile-box-content-{{ profile.pk }}").fadeIn(250);
                },function(){
                    $("#profile-box-content-{{ profile.pk }}").fadeOut(250);
                });
            });
        </script>
    {% endfor %}
{% endblock %}
