{% extends "layout_activities.html" %}

{% block content %}

<div class="activity-head">
	<h1>{{ activity.title }}</h1>
	<div class="activity-user-pic">{{ activity.owner.username }}</div>
</div>

<div class="activity-description">{{ activity.description }}</div>
    
{% endblock %}

{% block scripts %}
        <script type="text/javascript">
        $(function(){
            {% if activity.photo %}
            $(".activity-head").css("background-image","url('{{ activity.photo.url }}')");
            {% endif %}
        });
    </script>
{% endbloc %}