{% extends "layout_activities.html" %}
{% load avatar_tags %}

{% block navbar_buttons %}
{% if activity.owner == request.user %}
&nbsp;<a href="{{ activity.get_absolute_url }}/edit" class="btn btn-success navbar-btn pull-right">
    <span class="glyphicon glyphicon-pencil"></span>&nbsp;
    Edit
</a>
{% endif %}
{% endblock %}

{% block container %}

<div id="mainContainer" class="activity-head">
	<h1>{{ activity.title }}</h1>
	<div class="activity-username">by {{ activity.owner.username }}</div>
	<a href="/profiles/{{ activity.owner.username }} "><div class="activity-user-pic-div">{% avatar activity.owner 120 %}</div></a>
</div>

<div class="activity-container container">
	<div class="activity-description">
        {{ activity.description|linebreaks }}
    </div>
	<div class="row">
        <div class="col-md-6">
            <div class="row panel panel-default">
                <div class="col-md-6 text-left">
                    <h4>Price:</h4>
                </div>
                <div class="col-md-6 text-right">
                    <h4>{% if activity.price == 0 %}
                        Free
                    {% else %}
                        {{ activity.price }} &euro;
                    {% endif %}</h4>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            {% if activity.owner != request.user %}
                {% if request.user in activity.attendees.all %}
                <a href="{{ activity.get_absolute_url }}/leave" class="btn btn-danger btn-lg btn-block">Leave</a>
                {% else %}
                <a href="{{ activity.get_absolute_url }}/join" class="btn btn-success btn-lg btn-block">Join</a>
                {% endif %}
            {% else %}
                <a href="javascript:void(0);" onclick="deleteActivity();" class="btn btn-danger btn-lg btn-block"><span class="glyphicon glyphicon-trash"></span>&nbsp; Delete</a>
            {% endif %}
        </div>
	</div>

</div>    
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(function(){
            $(".activity-user-pic-div img").addClass("img-circle");
            $(".activity-user-pic-div img").addClass("activity-user-pic-img");
            {% if activity.photo %}
            $(".activity-head").css("background-image","url('{{ activity.photo.url }}')");
            {% endif %}
        });
    </script>
    {% if activity.owner == request.user %}
    <script type="text/javascript">
        function deleteActivity(){
            var x = window.confirm("Are you sure you are ok?");
            if (x)
                location.href="{{ activity.get_absolute_url }}/delete";
        }
    </script>
    {% endif %}
{% endblock %}