{% extends "layout_activities.html" %}

{% block container %}
<div id="mainContainer">
    {% for activity in activities %}
    <div id="activity-{{ activity.pk }}" class="activity-box" {% if activity.photo %} style="background-image: url('{{ activity.photo.url }}');" {% endif %}>
   		<div class="activity-category-corner-red"></div>
   		<div class="activity-box-content">
   			{{ activity.title }}
   		</div>
   		<a href="#{{ activity.get_absoulte_url }}">
   			<div id="activity-button-{{ activity.pk }}" class="activity-box-button">Join</div>
   		</a>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}
    {% for activity in activities %}
    <script type="text/javascript">
        $(function(){
            $("#activity-{{ activity.pk }}").hover(function(){
                $("#activity-button-{{ activity.pk }}").fadeIn();
            },function(){
                $("#activity-button-{{ activity.pk }}").fadeOut();
            });
        });
    </script>
    {% endfor %}
{% endblock %}