{% extends "layout_activities.html" %}
{% load avatar_tags %}

{% block navbar_buttons %}
{% if activity.owner == request.user %}
&nbsp;<a href="{{ activity.get_absolute_url }}/edit" class="btn btn-success navbar-btn pull-right">
    <span class="glyphicon glyphicon-pencil"></span>&nbsp;
    Edit
</a>
{% endif %}
{% endblock %}

{% block container %}

<div id="mainContainer" class="activity-head">
	<h1>{{ activity.title }}</h1>
	<div class="activity-username">by {{ activity.owner.username }}</div>
	<div class="activity-user-pic-div">{% avatar activity.owner 120 %}</div>
</div>

<div class="activity-container container">
	<div class="activity-description">{{ activity.description|linebreaks }}</div>
	<div class="text-center">
        {% if request.user in activity.attendees.all() %}
	    <a href="{{ activity.get_absolute_url }}/join"class="btn btn-success btn-lg">Join {{ activity.title }}</a>
        {% else %}
        <a href="{{ activity.get_absolute_url }}/leave"class="btn btn-danger btn-lg">Leave {{ activity.title }}</a>
        {% endif %}
	</div>

</div>    
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(function(){
            $(".activity-user-pic-div img").addClass("img-circle");
            $(".activity-user-pic-div img").addClass("activity-user-pic-img");
            {% if activity.photo %}
            $(".activity-head").css("background-image","url('{{ activity.photo.url }}')");
            {% endif %}
        });
    </script>
{% endblock %}