{% extends "layout.html" %}

{% block head %}
	<link href="/static/css/activities.css" rel="stylesheet" media="screen">
{% endblock %}


{% block main_menu %}
<ul class="nav navbar-nav">
	<li><a href="/">Community</a></li>
	<li class="active"><a href="/activities/list">Activities</a></li>
	<li><a href="#">Accomodations</a></li>
</ul>
{% endblock %}

{% block navbar_buttons %}
<a href="/activities/new" class="btn btn-danger navbar-btn pull-right">
    <span class="glyphicon glyphicon-plus"></span>&nbsp;
	Create activity
</a>
{% endblock %}

{% block footer %}{% endblock %}