{% extends "layout.html" %}

{% block head %}
	<link href="/static/css/activities.css" rel="stylesheet" media="screen">
{% endblock %}

{% block extend_main_menu %}
	<li class="dropdown">
				        <a href="/about" class="dropdown-toggle" data-toggle="dropdown">The Houses<b class="caret"></b></a>
				        <ul class="dropdown-menu">
				          <li><a href="http://blog.togethernetwork.org/descrizionetogethermansion622/" target="blank">Mansion</a></li>
				          <li><a href="http://blog.togethernetwork.org/together-garden/" target="blank">Garden</a></li> 
				        </ul>
				    </li>
      				<li><a href="/users/community">Community</a></li>
					<li class="active"><a href="/activities/list">Activities</a></li>
					<li class="dropdown">
				        <a href="/about" class="dropdown-toggle" data-toggle="dropdown">Projects<b class="caret"></b></a>
				        <ul class="dropdown-menu">
				            <li><a href="http://blog.togethernetwork.org/TLH/" target="blank">Together Language Hub</a></li>
					        <li><a href="http://blog.togethernetwork.org/theatre/" target="blank">Together Theatre</a></li> 
					        <li><a href="http://blog.togethernetwork.org/home-restaurant/" target="blank">Inspirational Kitchen</a></li>
				        </ul>
				    </li>
					<li><a href="http://blog.togethernetwork.org/" target="blank">Stories</a></li>
{% endblock %}

{% block navbar_buttons %}
	{% if request.user.is_authenticated %}
	<a href="http://blog.togethernetwork.org/come-organizzare-attivita-nella-casa" class="btn btn-default btn-s navbar-btn pull-right">
		?
	</a>
	<a href="/activities/new" class="btn btn-danger navbar-btn pull-right">
	    <span class="glyphicon glyphicon-plus"></span>&nbsp;
		Create activity
	</a>
	{% endif %}
{% endblock %}

{% block footer %}{% endblock %}