{% extends "layout.html" %}

{% block head %}
    <link href="/static/css/mainpages.css" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center" id="home-page-logo">
            <img src="/static/imgs/logone-Together.png">
            <h3 id="payoff">the cross-inspirational place that feels like <span id="payoffred">home</span></p></h3>
            <br>
            <br>
            <div id="buttoncomehome">come home</div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(function(){
            $("body").attr("id", "bg-homepage");
        });
    </script>
{% endblock %}