<!DOCTYPE html>
<html>
	<head>
		<title>Together Network</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- Custom Fonts -->

		<link href='http://fonts.googleapis.com/css?family=Actor' rel='stylesheet' type='text/css'>

		<!-- Bootstrap CSS -->

		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="http://static.togethernetwork.org.s3.amazonaws.com/css/style.css" rel="stylesheet" media="screen">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	    <![endif]-->
		{% block head %}{% endblock %}
	</head>
	<body>
		{% block header %}
		<nav id="mainNavBar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><img src="http://static.togethernetwork.org.s3.amazonaws.com/imgs/logos/logo-Together-small.png"></a>
			</div>
		
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				{% block main_menu %}
				<ul class="nav navbar-nav">
					<li class="dropdown">
				        <a href="/about" class="dropdown-toggle" data-toggle="dropdown">What is Together<b class="caret"></b></a>
				        <ul class="dropdown-menu">
				          <li><a href="/about">About</a></li>
				          <li><a href="/manifesto">Manifesto</a></li>
				          <li><a href="/principles">Principles</a></li>
				          <li><a href="/where">The House</a></li>
				        </ul>
				    </li>
			        <li class="divider"></li>
			        {% block extend_main_menu %}
      				<li class="active"><a href="#">Community</a></li>
					<li><a href="/activities/list">Activities</a></li>
					<li><a href="/accommodations/list">Accomodations</a></li>
					{% endblock %}
				</ul>
				{% endblock %}
				
				{% block user_menu %}
				<ul class="nav navbar-nav navbar-right">
 					<li class="dropdown">
 						{% if request.user.is_authenticated %}
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span><b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="/users/edit">Account settings</a></li>
							<li><a href="/avatar/change">Change Avatar</a></li>
							<li><a href="/users/{{ request.user.username }}/">My profile</a></li>
							<li><a href="/accounts/logout/?next=/">Log out</a></li>
						</ul>
						{% endif %}
					</li>
				</ul>
 				{% if not request.user.is_authenticated %}
 				<div class="pull-right">
					<a href="/accounts/login/{% if not '/accounts/login' in request.get_full_path %}?next={{ request.get_full_path }}{% endif %}" class="signin-btn navbar-btn btn btn-sm btn-default">Sign In</a>
					<a href="/accounts/register/" class="signin-btn navbar-btn btn btn-sm btn-default">Sign Up</a>
				</div>
				{% endif %}
				{% endblock %}
				{% block navbar_buttons %}{% endblock %}		
			</div><!-- /.navbar-collapse -->
		</nav>
		{% endblock %}

		{% block container %}
	    <div class="container" id="mainContainer">
	    	{% block content %}{% endblock %}
	    </div>
	    {% endblock %}

		<!-- footer -->
		{% block footer %}
		{% endblock %}

		<!-- jQuery -->
		<script src="//code.jquery.com/jquery.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
		<!-- Fix margin-top -->
        <script type="text/javascript">
            $(function() {
                $("#mainContainer").css("margin-top", $("#mainNavBar").height() );   
                $(window).resize(function() { 
                    $("#mainContainer").css("margin-top", $("#mainNavBar").height() );
                });            
            })
        </script>
		<!-- Custom JavaScript scripts -->
        {% block scripts %}{% endblock %}
	</body>
</html>