<!DOCTYPE html>
<html>
	<head>
		<title>Together Network</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap CSS -->
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="/static/css/style.css" rel="stylesheet" media="screen">
	</head>
	<body id="bg-homepage">
		{% block navbar %}
		<nav id="mainNavBar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><img src="/static/imgs/logo-Together-small.png"></a>
			</div>
		
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Community</a></li>
					<li><a href="/activities/list">Activities</a></li>
					<li><a href="#">Accomodations</a></li>
				</ul>
				
				<ul class="nav navbar-nav navbar-right">
					<li><a href="about">What is Together</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">Account settings</a></li>
							<li><a href="#">My profile</a></li>
							<li><a href="#">Something else here</a></li>
							<li><a href="#">Log out</a></li>
						</ul>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</nav>
		{% endblock %}
	    <div class="container" id="mainContainer">
	    	{% block content %}{% endblock %}
	    </div>

		<!-- footer -->
		{% block footer %}
		<div class="navbar navbar-inverse navbar-fixed-bottom">
			<div class="container">
				<a href class="navbar-text"="#">About</a>
				<a href class="navbar-text"="#">Contacts</a>
				
				<address class="navbar-text pull-right">
	  				<strong>Together Network, a.p.s.</strong><br>
							Viale Glorioso, 14<br>
	  						00159, Rome, ITA<br>
				</address>
			</div>
		</div>
		{% endblock %}

		<!-- jQuery -->
		<script src="//code.jquery.com/jquery.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script type="text/javascript">
            $(function() {
                $("#mainContainer").css("margin-top", $("#mainNavBar").height() + 10);   
                $(window).resize(function() { 
                    $("#mainContainer").css("margin-top", $("#mainNavBar").height() + 10);
                });            
            })
        </script>
	</body>
</html>