{% extends "layout_profiles.html" %}
{% load avatar_tags %}

{% block content %}
    <div class="row profile-header">
        <!-- Sidebar -->
        <div class="col-md-3 text-center">
            <div class="profile-user-pic-div">{% avatar request.user 200 %}</div>
        </div>
        <!-- Content -->
        <div class="col-md-6 profile-header-content">
            <div class="page-header">
                <h1>{{ profile.owner.first_name }} {{ profile.last_name }} <small><span class="glyphicon glyphicon-globe"></span> Stato</small></h1>
            </div>
            <p class="lead">
                Mission: {{ profile.mission }}  
            </p>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Bio
                </div>
                <div class="panel-body">
                   {{ profile.bio }}
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    Skills
                </div>
                <div class="panel-body">
                   Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                   quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                   consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                   cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                   proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>
        </div>
        <div class="col-md-3 text-rigth profile-header-buttons">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <a href="#"><img src="/static/imgs/tw-icon.png"></a>
                    <a href="#"><img src="/static/imgs/fb-icon.png"></a>
                    <a href="#"><img src="/static/imgs/mail-icon.png"></a>
                    <a href="#"><img src="/static/imgs/website-icon.png"></a>
                </div>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge">0</span><b>
                    Partecipated In</b>
                </li>
                <li class="list-group-item">
                    <span class="badge">0</span><b>
                    Offered</b>
                </li>
            </ul>
            <div class="panel panel-default">
                <div class="panel-body">
                    Lived @ Together
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(function(){
            $(".profile-user-pic-div img").addClass("img-circle");
            $(".profile-user-pic-div img").addClass("profile-user-pic-img");
        });
    </script>
{% endblock %}