{% extends "layout_profiles.html" %}
{% load avatar_tags %}

{% block content %}
    <div class="row profile-header">
        <!-- Sidebar -->
        <div class="col-md-3 text-center">
            <div class="profile-user-pic-div">{% avatar request.user 200 %}</div>
        </div>
        <!-- Content -->
        <div class="col-md-6 profile-header-content">
            <div class="page-header">
                <h1>
                    {{ profile.owner.first_name }} {{ profile.last_name }}
                    <small>
                        <span class="glyphicon glyphicon-globe"></span> 
                        {{ profile.city }}
                    </small>
                </h1>
            </div>
            <p class="lead">
                <b>Mission: </b>{{ profile.mission }}  
            </p>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Bio
                </div>
                <div class="panel-body">
                   {{ profile.bio }}
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    Skills
                </div>
                <div class="panel-body">
                   {{ profile.skills }}
                </div>
            </div>
        </div>
        <div class="col-md-3 text-rigth profile-header-buttons">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    {% if profile.twitter_url|length > 19 %}
                        <a href="{{ profile.twitter_url }}" target="_blank"><img src="/static/imgs/tw-icon.png"></a>
                    {% endif %}
                    {% if profile.facebook_url|length > 20 %}
                        <a href="{{ profile.facebook_url }}" target="_blank"><img src="/static/imgs/fb-icon.png"></a>
                    {% endif %}
                    {% if profile.personal_website_url %}
                        <a href="{{ profile.personal_website_url }}" target="_blank"><img src="/static/imgs/website-icon.png"></a>
                    {% endif %}
                    <a href="mailto:{{ profile.email }}"><img src="/static/imgs/mail-icon.png"></a>
                </div>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                <h4>{{ profile.owner.first_name }}'s activities</h4>
                </li>
                <li class="list-group-item">
                    <span class="badge">0</span><b>
                    Partecipated In</b>
                </li>
                <li class="list-group-item">
                    <span class="badge">0</span><b>
                    Offered</b>
                </li>
            </ul>
            <div class="panel panel-default">
                <div class="panel-body">
                    Lived @ Together
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(function(){
            $(".profile-user-pic-div img").addClass("img-circle");
            $(".profile-user-pic-div img").addClass("profile-user-pic-img");
        });
    </script>
{% endblock %}